.wrap {
	width: 100%;
	font-size: 5vh;
	padding: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a {
	background: $blue;
	color: $w;
	padding: 0.25rem 1rem;
	border-radius: 3px;
	font-weight: bold;
}

.content {
	max-width: 500px;

	h1,
	p {
		// font-family: Lato;
		font-weight: 100;
	}

	h1 {
		text-transform: uppercase;

		a {
			background: transparent;
		}
	}

	small {
		display: inline-block;
		margin-top: 2rem;
	}
}
